{% extends 'base.html' %}

{% block content %}

  <table class="fatitem" border="0">
    <tbody>
      <tr class="athing" id="34397436">
	<td class="title" valign="top" align="right"><span class="rank"></span></td>
	<td class="votelinks" valign="top">
	  <center>
	    <a id="up_34397436" class="clicky" href="{{url_for('hnpost.vote',id=post['id']) }}">
	      <div class="votearrow" title="upvote"></div>
	    </a>
	  </center>
	</td>
	<td class="title">
	  <span class="titleline">
	    <a href="{{ post['url'] }}" rel="nofollow">{{ post['title'] }}</a>
	    <span class="sitebit comhead">
	      {% if post['url'] %}
	      (<a href="{{ post['url'] }}"><span class="sitestr">{{ urlparse(post['url']).netloc }}</span></a>)
	      {% endif %}
	    </span>
	  </span>
	</td>
      </tr>
      <tr>
	<td colspan="2"></td>
	<td class="subtext">
	  <span class="subline">
            <span class="score" id="score_34397436">{{ post['points'] or 0 }} points</span>
	    by
	    <a href="{{ url_for('hnpost.user',id=post['username']) }}" class="hnuser">{{ post['username'] }}</a>
	    <span class="age" title="2023-01-16T06:14:31">
	      <a href="item?id=34397436">{{ dtformatter(post['created']) }}</a>
	    </span>
	    <span id="unv_34397436"></span>
	    |
	    <a href="hide?id=34397436&amp;auth=661e087cc3eddc40bb8b59e3c2cc5677d1184407&amp;goto=item%3Fid%3D34397436">hide</a>
	    |
	    <a href="https://hn.algolia.com/?query=Bill%20Gates%20tries%20to%20install%20Movie%20Maker&amp;type=story&amp;dateRange=all&amp;sort=byDate&amp;storyText=false&amp;prefix&amp;page=0" class="hnpast">past</a>
	    |
	    <a href="fave?id=34397436&amp;auth=661e087cc3eddc40bb8b59e3c2cc5677d1184407">favorite</a>
	    |
	    <a href="item?id=34397436">discuss</a>
	  </span>
	</td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
	<td colspan="2"></td>
	<td>
	  {% include "post/reply.html" %}
	  <!--
	  <form action="{{ url_for('hnpost.add_comment', id=post['id']) }}" method="post">
	    <input type="hidden" name="parent" value="{{ post['id'] }}">
	    <input type="hidden" name="goto" value="item?id=34397436">
	    <input type="hidden" name="hmac" value="95088f25886b0a2dd580a34ca87ea2f3cd85140c">
	    <textarea name="text" rows="8" cols="80" wrap="virtual"></textarea>

	    <br><br>
	    If you haven't already, would you mind reading about HN's
	    <a href="newswelcome.html">
	      <u>approach to comments</u>
	    </a>
	    and
	    <a href="newsguidelines.html#comments">
	      <u>site guidelines</u>
	    </a>
	    ?
	    <br>
	    <br>
	    <input type="submit" value="add comment">
	  </form>
-->
	</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <table class="comment-tree" border="0">
    {% for comment in comments %}
    <tr>
    <td class="ind" indent="0"><img src="s.gif" width="0" height="1"></td>
<td class="votelinks" valign="top">
    <center>
        <a id="up_34391449" class="clicky" href="vote?id=34391449&amp;how=up&amp;auth=8a1605320cf1e540b90a720eb31761e25f51ba2e&amp;goto=item%3Fid%3D34390585#34391449">
            <div class="votearrow" title="upvote"></div>
        </a>
    </center>
</td>
<td class="default">
  <div style="margin-top:2px; margin-bottom:-10px;">
    <span class="comhead">
      <a href="{{ url_for('hnpost.user',id=comment['username']) }}" class="hnuser">{{ comment.username }}</a>
      <span class="age" title="2023-01-15T18:04:02">
	<a href="item?id=34391449">{{ dtformatter(comment.created) }}</a>
      </span>
      <span id="unv_34391449"></span>
      <span class="navs">
        |
	<a href="#34397871" class="clicky" aria-hidden="true">next</a>
	<a class="togg clicky" id="34391449" n="12" href="javascript:void(0)">[–]</a>
	<span class="onstory"></span>
      </span>
    </span>
    </div><br>
    <div class="comment">
      <span class="commtext c00">
	{{ comment.body }}
	<div class="reply">
          <p>
	    <font size="1">
	      <!-- reply?id=34423662&goto=item%3Fid%3D34414716%2334423662 http://localhost:5000/reply/?id=1&item=4 -->
              <u><a href="{{ url_for('hnpost.reply',id=comment['id'], item=post['id']) }}">reply</a></u>
            </font>
	  </p>
	</div>
      </span>
    </div>
</td>  
    </tr>
    {% endfor %}
  </table>

{% endblock %}
